# ignore all 
 
# but this 
#!/.package.json 
#!/yarn.lock
#!/webpack.config.js
#!/jest.config.json
#!/hold.zip 
#!/src
#!/public
#!/src
tokens/
node_modules/
public/dist
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map


